<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reg.css" rel="stylesheet" type="text/css">
    <title>Login</title>
 
</head>

<body>
    <div class="master">
        <div class="container">

            <div class="bg">


                <form action="/index2" method="post">

                    <div class="container">
                        <div class="a1">
                            <img src="/image/logo.svg" height="100px" width="100px">
                            <h2>Welcome Back!</h2>
                        </div>

                        <label for="username" style="color: white;"><b>Username</b></label>

                        <input type="text" name="username" id="username" required />
                        <label for="email" style="color: white;"><b>Email</b></label>
                        <input type="text" name="email" id="email" required />

                        <label for="pwd" style="color: white;"><b>Password</b></label>
                        <input type="password" name="pwd" id="pwd" required />

                        <label for="pwd-repeat" style="color: white;"><b>Repeat Password</b></label>
                        <input type="password" name="pwd-repeat" id="pwd-repeat" required />

                        <input type="submit" id="sub" value="Sign up" style="color: white;" />
                    </div>
                    <div>
                        <p style="color: white;">Don't have an account? <a href="#">Sign up Here.</a>.</p>
                    </div>
                    <div class="im">
                        <img src="/image/bottom-logo.png">
                    </div>
                </form>

            </div>


        </div>
    </div>
</body>

</html>